$font-main: 'Noto Sans KR', sans-serif;
$font-round: 'Chewy', cursive;

$color-black: #222;
$color-gray-background: #252628;
$color-gray-primary: #555;
$color-white: #fff;
$color-neon-green: #4ffc4c;
$color-neon-cyan: #24f2de;
$color-neon-pink: #ff3bf8;
$color-neon-yellow: #fbf715;
