$font-main: 'Noto Sans KR', sans-serif;

$color-gray-background: #252628;
$color-white: #fff;
$color-gray-primary: #555;
$color-neon-green: #4ffc4c;
$color-neon-cyan: #24f2de;
$color-neon-pink: #ff3bf8;
$color-neon-yellow: #fffc00;
