.bgm-button {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  padding: 1rem;

  img {
    display: block;
    width: 3.2rem;
    height: auto;
  }

  @include responsive(T) {
    img {
      width: 5rem;
    }
  }
}
